#footer
  position: relative
  background: $light-blue
  background-attachment: local
  background-position: bottom
  background-size: contain

  if hexo-config('footer_bg') != false
    &:before
      position: absolute
      width: 100%
      height: 100%
      background-color: alpha($dark-black, .5)
      content: ''

#footer-wrap
  position: relative
  padding: 2rem 1rem
  color: $light-grey
  text-align: center

  a
    color: $light-grey
    cursor: pointer

    &:hover
      color: $theme-color
      text-decoration: underline

  .footer-separator
    margin: 0 .2rem

  .icp-icon
    padding: 0 4px
    vertical-align: text-bottom
